# 1. 변수

## 1. 변수의 사용
* 변수는 값을 담으면 사용 가능하며, 변수에 있던 기존 값은 없이지고 새로 입력한 값으로 변경

* 변수에는 변수의 값을 담을 수도 있고, 계산 결과를 담을 수도 있음

In [ ]:
var1 = 100
var1

100

In [ ]:
var1 = 200
var1

200

In [ ]:
var2 = 300
var1 = var2
var1

300

In [ ]:
var1 = 100 + 100
var1

200

In [ ]:
var1 = var2 + 100

In [ ]:
# 변수에 연산 결과를 자신의 값으로 다시 대입하는 방식

var1 = 100
var1 = var1 + 200
var1

300

In [ ]:
# 대입 연산자의 왼쪽에는 무조건 변수만 올 수 있다

10 = 100 #오류 발생

SyntaxError: ignored

## 2. 변수로 데이터 전달하기
* 변수는 재활용하기도 하지만 데이터를 전달하는 역할 수행
* A함수의 결과 값을 변수에 담아서 B함수의 인자로 활용 가능

input() 함수
* 표준 입력 함수인 input()은 인자로 받은 값을 출력한 뒤, 입력 받은 값을 결과 값으로 넘겨주는 역할을 수행
* 결과 값은 문자열

In [ ]:
# input() 함수

name = input('이름이 뭐죠? :')
print('안녕!', name)

이름이 뭐죠? :a
안녕! a

## 3. 변수명 작성 방법

변수명 작성 규칙

1. 첫 글자는 반드시 영문 대소문자나 혹은 언더바(_) 시작
2. 나머지 글자들은 영문자, 숫자 혹은 언더바(_)로 구성, 단 언더바를 제외한 특수 기호는 사용 할 수 없음
3. 대소문자 구분. 'name' 과 'Name'은 다른 변수로 인식
4. 길이에 대한 제약은 없다
5. 예약어 : 다른 용도로 사용하고 있으므로 변수명으로 사용할 수 없음
```
#사용 불가 변수명
False Class finally is return continue
None for lambda try def from
True nonlocal while and del global
not with as elif if or
yield assert else import pass break등
```

In [ ]:
1name = 'chris'

SyntaxError: ignored

In [1]:
num1 = int(input('첫 번째 정수를 입력하시오 : '))
num2 = int(input('두 번째 정수를 입력하시오 : '))


res = num1 + num2
res2 = (num1 + num2) / 2

print(f'{num1} 과 {num2} 의 합은 : {res}, 평균은 : {res2}')

첫 번째 정수를 입력하시오 : 10
두 번째 정수를 입력하시오 : 20
10 과 20 의 합은 : 30, 평균은 : 15.0

In [2]:
celsius = input('섭씨온도를 입력하세요 : ')
faherenheit = int(celsius) * (9/5) + 32

print(faherenheit)

섭씨온도를 입력하세요 : 30
86.0

In [3]:
print('섭씨 온도는 : celsius')

섭씨 온도는 : celsius

## 4. 다양한 타입의 변수

|객체 정의|뜻|자료 예시|변수 설정 방법 예시|
|:-:|:-:|:-:|:-:|
|int|integer, 정수|3, 5| a=3|
|float|float, 부동소수점|3.2, 5.55|a=3.23|
|str|string, 문자열|'abc', '가나다'|a='3'|
|bool|boolean, 불린|True, False|a=True|
|list|list, 리스트|[3, 5]| a=[3,5]|
|tuple|tuple, 튜플|(3, 5)| a=(3,6)|
|dic|dictionary, 딕셔너리|{1:'name', 2:'phone'}|a={1:'name', 2:'phone'}|
|set|set, 집합|{3, 5}| a={3,5}|

# 2. 숫자 타입과 연산자

## 1. 문자열 형식화

% 기호를 사용한 문자열 형식화

|형식지정 문자열|의미|
|:--:|:--:|
|%s|문자열|
|%d|정수|
|%f|부동소수점 실수|

In [ ]:
# %s string, 문자열

'내이름은 %s입니다' %'홍길동'

'내이름은 홍길동입니다'

In [ ]:
# %d 정수

'나는 %d살 입니다' %12

'나는 12살 입니다'

In [14]:
# %f 부동소수점 실수

"원주율의 값은 %r입니다" %3.141592

'원주율의 값은 3.141592입니다'

In [ ]:
# 여러 개의 값을 이용할때

'%d 곱하기 %d는 %d이다' %(2,3,6)
'%s의 %s 과목 점수는 %d점이다' %('철수', '수학', 30)

'철수의 수학 과목 점수는 30점이다'

In [5]:
1/3

0.3333333333333333

고급 형식 지정 문자열

* 여러가지 숫자 인수를 가질 수 있음
* % 기호 다음에 오는 정수값이 인쇄될 때 차지하는 공간의 길이를 의미

|형식지정 문자열|의미|
|:--:|:--:|
|%20s|전체 20칸을 차지하는 문자열(공백을 앞에)|
|%-10d|전체 10칸을 차지하는 숫자(공백을 뒤에)|
|%.5f|부동소수점의 소수점 아래 5자리까지 표시|

In [ ]:
# %20s 전체 20칸을 차지하는 문자열

"[%20s]" % '*'

'[                   *]'

In [ ]:
# -를 붙이면 공백이 뒤쪽으로 온다

"[%-20s]" %'A'

'[A                   ]'

In [ ]:
"[%20d]" %10

'[                  10]'

In [ ]:
"[%-20d]" %10

'[10                  ]'

In [ ]:
#소수점 아래 5자리까지 인쇄한다

x = 1/3.0
"%.5f" %x

'0.33333'

In [ ]:
#소수점 아래 5자리까지 인쇄하고 앞에 공백을 붙여주기

'%20.5f'%x

'             0.33333'

print() 함수의 서식

In [ ]:
print('안녕하세요?')

안녕하세요?

In [ ]:
# 문자열 100 출력

print('100')

100

In [ ]:
# 숫자 100 출력

print('%d' %100)

100

In [ ]:
# 문자열과 숫자 출력

print('100 + 100')
print('%d'%(100+100))

100 + 100
200

In [ ]:
#오류 케이스
# %문자열 서식에 대응되는 값이 차이가 나기때문에 오류 발생


print('%d' %(100,200))
print('%d %d' %(100))

TypeError: ignored

print() 함수를 사용한 다양한 출력

|서식|값|설명|
|:--:|:--:|:--:|
|%d, %x, %o|10, 100, 1234|정수(10진수, 16진수, 8진수)|
|%f|0.5, 1.0, 3.14|실수(소수점이 붙은 수)|
|%c|'b', '한'|한 글자|
|%s|'안녕', 'abcde', 'a'|한 글자 이상인 문자열|

In [15]:
# formating 서식이 정수서식이기때문에 0으로 출력

print('%d / %d = %d' %(100, 200, 0.5))

100 / 200 = 0

In [16]:
print('%d / %d = %.5f' %(100, 200, 0.5))

100 / 200 = 0.50000

In [ ]:
print('%d' %123)
print('%5d' %123)
print('%05d' %123)

123
  123
00123

In [ ]:
print('%f'%123.45)
print('%7.1f'%123.45)
print('%010.1f'%123.45)

123.450000
  123.5
00000123.5

format 함수를 이용한 서식지정

In [ ]:
print('%d %5d %05d' %(123, 123, 123))
print('{0:d} {1:5d} {2:05d}'.format(123, 123, 123))

123   123 00123
123   123 00123

In [ ]:
# format을 사용해 출력 순서 지정

print('{0:d} {1:d} {2:d}'.format(100, 200, 300))
print('{2:d} {1:d} {0:d}'.format(100, 200, 300))
print('{2:d} {2:d} {2:d}'.format(100, 200, 300))

100 200 300
300 200 100
300 300 300

In [ ]:
# 행을 강제로 넘기는 '\n' 사용

print('한 행입니다. 또 한 행입니다.')
print('한 행입니다. \n또 한 행입니다.')

한 행입니다. 또 한 행입니다.
한 행입니다.
또 한 행입니다.

이스케이프 문자의 종류

|이스케이프 문자|역할|설명|
|:-:|:-:|:-:|
|\n|새로운 줄로 이동|Enter를 누른 효과|
|\t|다음 탭으로 이동|Tab을 누른 효과|
|\b|뒤로 한 칸 이동|Backspace를 누른 효과|
|\\|\ 출력||
|\'|' 출력||
|\*|* 출력||

In [18]:
print('\n줄바꿈\n연습')
print('\t텝키\t연습')
print('글자가 \'강조\' 되는 효과 1')
print('\\\\\\ 역슬래시 세 개 출력')

줄바꿈
연습
	텝키	연습
글자가 '강조' 되는 효과 1
\\\ 역슬래시 세 개 출력

In [20]:
print('글자가 \'강조\' 되는 효과')

글자가 '강조' 되는 효과

raw string

* 문자열 앞에 r함수로 구현 가능
* 이스케이프 문자를 문자열로 인식하게 만들어준다

In [ ]:
print(r'\n \t \b \\ 를 그대로 출력')

\n \t \b \\ 를 그대로 출력

f-string

* 문자열 앞에 f를 붙여 구현
* 문자열 안에서 중괄호를 이용하여 변수나 계산식 입력가능

In [ ]:
a = 'coffee'
n = 3
print(f'저는 {a}를 좋아합니다. 하루 {n}잔 마셔요')

저는 coffee를 좋아합니다. 하루 3잔 마셔요

f-string
* 글자수를 지정하여 문자열 정렬

In [ ]:
# f-string 왼쪽 정렬

s1 = 'left'
f'{s1:<10}'

'left      '

In [ ]:
# f-string 오른쪽 정렬

s2 = 'left'
f'{s2:>10}'

'      left'

In [ ]:
# f-string 가운데 정렬

s3 = 'mid'
f'{s3:^10}'

'   mid    '

### 실습 I

* name과 age라는 변수에 각각 이름과 나이를 넣고 다음과 같이 출력하는 코드 작성

* a, b라는 변수에 10과 3이라는 값을 대입하고, 이 변수 a,b와 문자열 형식화를 사용하여 다음과 같은 문자열을 출력하는 코드 작성

In [ ]:
# 1

name = 'psw'
age = 27

print('%s is %d years old'%(name, age))

psw is 27 years old

In [ ]:
# 2

a = 10
b = 3

print(f'{a} / {b} = {a/b:.3f}')

10 / 3 = 3.333

In [ ]:
%# format 함수를 이용
# 05d : 0을 붙이고 d값 출력

print("{0:d} {1:5d} {2:05d}".format(123,123,123))

123   123 00123

In [ ]:
# 이스케이프 문자

print('줄바꿈 \n줄바꿈')
print('다음 탭 \t 다음 탭')
print('뒤로 한칸 이동 \b 뒤로 한칸이동')
print('\\ 출력')
print('\' 따옴표 출력')
print('* 출력')

줄바꿈
줄바꿈
다음 탭 	 다음 탭
뒤로 한칸 이동  뒤로 한칸이동
\ 출력
' 따옴표 출력
* 출력

In [ ]:
# f-string 함수

a = 'coffee'; n=3
result = f'저는 {a}를 좋아합니다, 하루 {n}잔 마셔요'
print(result)

print(f'{result:>10}')

저는 coffee를 좋아합니다, 하루 3잔 마셔요
저는 coffee를 좋아합니다, 하루 3잔 마셔요

In [ ]:
#실습 1

name = 'Tom'; age = 13

print('%s is %d years old' %(name, age))

a = 10; b = 3

print('10/3 = %.3f' %(a/b))

Tom is 13 years old
10/3 = 3.333

## 기본 데이터형

숫자형(정수형과 실수형)

In [ ]:
a = 123
type(a)

int

In [ ]:
# int의 크기에는 제한이 없다

a = 100 ** 100
print(a)

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
a = 0xFF # 16진수
b = 0o77 # 8진수
c = 0b1111 #2진법

print(a,b,c)

255 63 7

In [ ]:
a = 3.14
b = 3.14e5 # 3.14 * 10^5
print(a, b)

3.14 314000.0

In [ ]:
# 정수 및 실수 데이터형은 사칙연산을 수행 할 수 있다.

a = 10; b = 20
print(a + b, a - b, a * b, a / b)

30 -10 200 0.5

In [ ]:
# ** : 제곱, % : 나머지, // : 몫

a,b = 9,2
print(a**b, a%b, a//b)

81 1 4

### 실습 II

a=3, b=5 일때 a,b의 덧셈, 뺄셈, 곱셈, 나눗셈의 결과를  
 출력하는 프로그램을 작성하세요

In [ ]:
#실습 2

a,b = 3,5

print('덧셈 : %d' %(a+b))
print('뻴셈 : %d' %(a-b))
print('곱셈 : %d' %(a*b))
print('나눗셈 : %.1f' %(a/b))

덧셈 : 8
뻴셈 : -2
곱셈 : 15
나눗셈 : 0.6

## 산술 연산자

* 산술 연산을 하는 문자열과 숫자의 상호 변환
    * 문자열이 숫자로 구성되어 있을 때, int() 또는 float()  함수를 사용해서 정수나 실수로 변환
    * 문자열을 int() 함수가 정수로, float()함수가 실수로 변경

In [ ]:
s1, s2, s3 = '100', '100.123', '99999999999'
print(int(s1) + 1, float(s2) + 1, int(s3) + 1)

101 101.123 100000000000

### 실습 III

* 커피전문점에서 다음과 같은 커피 메뉴가 있을 때,  
판매 개수를 입력하여 총 매출을 계산하는 프로그램을 작성하세요

-메뉴-  
아메리카노 : 2000원  
카페라떼 : 3000원  
카푸치노 : 3500원

In [ ]:
a = input('아메리카노 판매 개수:')
b = input('카페라테 판매 개수:')
c = input('카푸치노 판매 개수')
print('총 매출은 %d 입니다' %(int(a)*2000 + int(b)*3000 + int(c)*3500))

아메리카노 판매 개수:10
카페라테 판매 개수:5
카푸치노 판매 개수3
총 매출은 45500 입니다

## 4. 대입연산자

|연산자|사용 예|설명|
|:-:|:-:|:-:|
|+=|a+=3|a=a+3과 동일
|-=|a-=3|a=a-3과 동일
|*=|a*=3|a=a*3과 동일
|/=|a/=3|a=a/3과 동일
|//=|a//=3|a=a//3과 동일
|%=|a%=3|a=a%3과 동일
|**=|a**=3|a=a**3과 동일

In [ ]:
a = 1
a += 1
print(a)

a *= 2
print(a)

a -= 3
print(a)

a/= 3
print(a)

2
4
1
0.3333333333333333

In [ ]:
n_count = 100
print('초기 개수:', n_count)

n_count += 1
print('증가 후 개수:', n_count)

초기 개수: 100
증가 후 개수: 101

### 실습 IV

* BMI는 체중(Kg)을 신장(m)의 제곱으로 나눈 값
* 사용자의 신장과 체중을 입력 받아서 BMI 값을 출력하는 프로그램을 작성하세요
* 단 키는 센치미터 단위로 입력받아 100을 나누어 미터 단위로 바꾸어야 함

$BMI = \frac{체중}{키^2}$

In [ ]:
#실습 4

h = input('키를 센치미터 단위로 입력하세요 ')
w = input('몸무게를 kg단위로 입력하세요 ')

print('당신의 BMI는 %f'%(int(w)/(int(h)/100)**2))

키를 센치미터 단위로 입력하세요 175
몸무게를 kg단위로 입력하세요 65
당신의 BMI는 21.224490

### 실습 V

* 분자와 분모를 입력하고, 입력된 문자열(str)을 정수(int) 형태로 바꾸어 두 수 사이에 나누어진 몫과 나머지를 구하는 프로그램을 작성하세요

In [ ]:
a = input('분자를 입력하세요 : ')
b = input('분모를 입력하세요 : ')
print(f'나눗셈의 몫 : {int(a)//int(b)}')
print(f'나눗셈의 나머지 : {int(a)%int(b)}')

분자를 입력하세요 : 5
분모를 입력하세요 : 3
나눗셈의 몫 : 1
나눗셈의 나머지 : 2

## 5. 관계 연산자

관계 연산자의 개념
* 어떤 것이 크거나 작거나 같은지 비교하는 것
* 주로 조건문(if)이나 반복문(while)에서 사용

관계 연산자의 종류

|연산자|의미|설명|
|:-:|:-:|:-:|
|==|같다|두 값이 동일하면 참|
|!=|같지 않다|두 값이 다르면 참|
|>|크다|왼쪽이 크면 참|
|<|작다|왼쪽이 작으면 참|
|>=|크거나 같다|왼쪽이 크거나 같으면 참|
|<=|작거나 같다|왼쪽이 작거나 같으면 참|

In [ ]:
a, b = 100, 200
print(a==b, a != b, a > b, a < b, a >= b, a <= b)

False True False True False True

## 6.논리 연산자

논리 연산자의 종류와 사용

* and(그리고), or(또는), not(부정)

|연산자|의미|설명|사용 예|
|:-:|:-:|:-:|:-:|
|and(논리곱), &|~이고, 그리고|둘 다 참이여야 함|(a>100) and (a<200)|
|or(논리합), \||~이거나, 또는|둘 중 하나만 참이어도 참|(a==100) or (a==200)|
|not(논리부정), !|~아니다, 부정|참이면 거짓, 거짓이면 참|not(a<100)|

In [ ]:
a = 100

print(a > 100 and a < 200)
print(a > 100 & a < 200)

print((a > 100) or (a < 200))
print((a > 100) | (a < 200))

print(not(a==100))
print(a!=100)

False
False
True
True
False
False

### 실슬 VI
자동 판매기 프로그램 만들기

In [ ]:
a = input('투입한 돈 : ')
b = input('물건 값 : ')
c = int(a) - int(b)
print(f'거스름돈 : {c}')
print(f'500원 동전의 개수 : {c // 500}')
print(f'100원 동전의 개수 : {(c % 500)//100}')

투입한 돈 : 5000
물건 값 : 2600
거스름돈 : 2400
500원 동전의 개수 : 4
100원 동전의 개수 : 4

비트 연산자

In [ ]:
10 & 7

In [ ]:
record = [100, 121, 120, 130, 140, 120, 122, 123, 190, 125]
d_day = 0

for i in range(0,9):
  if record[i] > record[i+1]:
    d_day = d_day + 1

print('지난 10일 동안 전일 대비 매출이 감소한 날은 %d일 입니다' %d_day)

지난 10일 동안 전일 대비 매출이 감소한 날은 3일 입니다

In [ ]:
num = 1

while num <= 16:
  num += 3
  if num % 4 == 0:
    continue
  print(num, end = ' ')

7 10 13 19

In [ ]:
l = [1,5,7,9,11,13,15]

l[::-2]

[15, 11, 7, 1]

In [ ]:
print('''그가 말했다 "이제 'what' 은 결정되었으니, 'how' 에 대해서 이야기 해보자."''')

그가 말했다 "이제 'what' 은 결정되었으니, 'how' 에 대해서 이야기 해보자."

In [ ]:
(True ^ True) and False

False

#조건문

## 1. 기본 if문

if 문

* 파이썬은 들여쓰기가 매우 중요
* if 문 다음에 '실행할 문장'은 if문 다음 줄에서 들여쓰기를 해서 작성

* 형식

if 조건식 :  
&nbsp;&nbsp;&nbsp;&nbsp; 실행할 문장

In [ ]:
a = 99
if a < 100:
    print('100보다 작군요')

100보다 작군요

### 실습 I

* 변수 a에 False 라는 부울 자료형을 할당하고, 조건문에서 False인 경우 '거짓' 이라는 문장을 출력하시오

* 변수 a에 숫자를 할당하고 조건문에서 a의 타입을 확인하여 int일 경우 '숫자형 입니다' 라는 문장을 출력하시오

In [ ]:
#1

a = False
if a == False:
  print('거짓')

거짓

In [ ]:
#2

a = 123
if type(a) == int:
  print('숫자형입니다')

숫자형입니다

### 실습 III

* input함수를 이용하여 나이를 입력 받은 후, 8세 미만은 '미취학 아동 출력', 8세 이상부터 19세 이하는 '학생' 출력, 나머지는 '성인'출력

* input함수를 이용하여 점수를 입력 받은 후, 점수가 90점 이상이면 'A'출력, 80 ~ 89점이면 'B'출력, 70 ~ 79점 이면 'C'출력, 나머지는 'D'출력

* input 함수를 이용하여 나이와 키를 입력받은 후, 나이가 8세 이상이고 키가 120cm 이면 '탑승가능 출력, 8세 이상인데 키가 120cm 미만이면 '키 미달' 출력, 8세 미만이면 '나이 미달' 출력

In [ ]:
#1

age = int(input('나이를 입력하세요 : '))

if age < 8:
    print('미취학 아동')

if (age>=8) and (age <= 19):
    print('학생')

if age > 19:
    print('성인')

나이를 입력하세요 : 30
성인

In [ ]:
#2

score = int(input('점수를 입력하세요 : '))

if score >= 90:
    print('A')
if (score <= 89) & (score >= 80):
    print('B')
if (score <= 79) & (score >= 70):
    print('C')
if score <= 69:
    print('D')

점수를 입력하세요 : 82
B

In [ ]:
#3

age = int(input('나이를 입력하시오 : '))
height = int(input('키를 입력하시오 : '))

if (age >= 8) & (height >= 120):
    print('탑승 가능')
if (age >= 8) & (height < 120):
    print('키 미달')
if (age < 8):
    print('나이 미달')

나이를 입력하시오 : 10
키를 입력하시오 : 140
탑승 가능

조건 분기문(if - else 문)

In [ ]:
# 값 입력

flag = input('마음에 드는 옷을 찾았나요? (예/아니오) : ')

# 조건 분기

if flag == '예':
    print('축하합니다')
else:
    print('아쉽군요')

In [ ]:
a = 200

if a < 100:
  print('smaller than 100')
else:
  print('bigger than 100')

bigger than 100

In [ ]:
a = 200

if a < 100:
  print('smaller than 100')
  print('this sentence will see if true')

else:
  print('bigger than 100')
  print('this sentence will see if false')

print('end')

bigger than 100
this sentence will see if false

In [ ]:
#입력된 숫자가 짝수인지 홀수인지 계산

a = int(input('정수를 입력하세요:'))

if a % 2 == 0:
  print('짝수를 작성하셨군요')
else:
  print('홀수를 작성하셨군요')

정수를 입력하세요:4
짝수를 작성하셨군요

### 실습 IV
윤년 판단하는 프로그램 만들기

In [ ]:
#실습 (iv) 윤년 판단 프로그램
year = int(input('연도를 입력하세요: '))

if (year % 400 == 0) or ((year % 4 == 0) and (year % 100 != 0)):
  print(f'{year}년은 윤년입니다.')
else:
  print(f'{year}년은 윤년이 아닙니다.')

연도를 입력하세요: 2012
2012년은 윤년입니다.

## 2. 중첩 if문

* if ~ else ~ if ~ else 문
    * if 문을 한번 실행 한 후 그 결과에서 if문을 다시 실행하는 것

if 조건식 1:  
&emsp;if 조건식2:  
&emsp;&emsp; 실행할 문장1  
&emsp;else :  
&emsp;&emsp; 실행할 문장 2  
else:    
&emsp; 실행할 문장 3

### 실습 VI

* 남자, 20살 이상, 현재 학교에 재학중이 아니라면 군대 영장을 보내고. 중간에 조건이 맞지 않을 경우 '종료합니다' 메세지를 출력하고 종료하는 코드를 작성하세요

In [ ]:
gender = input('[남], [여] 중 하나를 입력하세요 : ')
if gender == '남':
    age = int(input('현재 나이를 입력하세요 : '))
    if age >= 20:
        cond = input('[재], [휴] 중 하나를 입력하세요 : ')
        if cond == '휴':
            print('군대에 입대하십시오.')
        else:
            print('종료합니다.')
    else:
        print('종료합니다.')
else:
    print('종료합니다.')

[남], [여] 중 하나를 입력하세요 : 여
종료합니다.

* 조건을 더욱 정교하게 만드는 if-elif-else문

In [ ]:
flag = input('마음에드는 옷을 찾았나요 ')

if flag == '예':
  print('축하합니다')
elif flag == '아니오':
  print('아쉽군요')
else:
  print('예 또는 아니오로 입력하시오')

* 분기한 블록문 안에더 다시 분기하는 중첩 분기문

In [ ]:
flag = input('마음에 드는 옷을 찾았나요 (예/아니오): ')

if flag == '예':
  print('축하합니다')
  price = int(input('가격이얼마인가요 : '))

  if price <= 100000:
    print('구매합니다')
  else:
    print('포기합니다')
elif flag == '아니오':
  print('아쉽군요')
else:
  print('"예" 또는 "아니오"로 입력하시오')

마음에 드는 옷을 찾았나요 (예/아니오): 예
축하합니다
가격이얼마인가요 : 20000
구매합니다

In [ ]:
score = int(input('점수를 입력하세요:'))
if score >= 90:
  if score >= 95:
    print('a+')
  else:
    print('a0')
elif score >= 80:
  if score >= 85:
    print('b+')
  else:
    print('b')
elif score >= 70:
  if score >= 75:
    print('c+')
  else:
    print('c0')
elif score >= 60:
  if score >= 65:
    print('d+')
  else:
    print('d0')
else:
  print('f')

점수를 입력하세요:30
f

### 실습 VII

In [ ]:
res = int(input('연산자를 고르세요:'))
res1 = int(input('첫번째 값을 입력하시오:'))
res2 = int(input('두번째 값을 입력하시오:'))
if res == 1:
  print(res1 + res2)
elif res==2:
  print(res1 - res2)
elif res==3:
  print(res1 * res2)
else:
  print(res1 / res2)

연산자를 고르세요:1
첫번째 값을 입력하시오10
두번째 값을 입력하시오20
30

### 실습 VIII

In [ ]:
print('사이다 - 700 콜라 - 800원 물 - 1200원')

money = int(input('얼마를 입력하겠습니까?'))
res = int(input('선택) 1-사이다 2-콜라 3-물:'))
if res==1:
  if money >= 700:
    print('사이다가 나왔습니다')
    print('잔돈',money-700)
  else:
    print('잔돈이 반환됩니다:', money)
elif res==2:
  if money >= 800:
    print('콜라가 나왔습니다')
    print('잔돈',money-800)
  else:
    print('잔돈이 반환됩니다:', money)
else:
  if money >= 1200:
    print('물이나왔습니다')
    print('잔돈',money-1200)
  else:
    print('잔돈이 반환됩니다', money)

사이다 - 700 콜라 - 800원 물 - 1200원
얼마를 입력하겠습니까?1000
선택) 1-사이다 2-콜라 3-물:1
사이다가 나왔습니다
잔돈 300

### 실습 IX

In [ ]:
print('우리식장에 오신것을 환영합니다. 메뉴는 다음과 같습니다.')
print('-햄버거(입력b)\n-치킨(입력c)\n-피자(입력p)')
menu = input('메뉴를 선택하세요(알파벳 b,c,p 입력):')
if menu == 'b':
  print('햄버거')
elif menu == 'c':
  print('치킨')
elif menu == 'p':
  print('피자')
else:
  print('선택된메뉴가 없습니다')

우리식장에 오신것을 환영합니다. 메뉴는 다음과 같습니다.
-햄버거(입력b)
-치킨(입력c)
-피자(입력p)
메뉴를 선택하세요(알파벳 b,c,p 입력):c
치킨

#반복문

## 1. 반복문의 개념

* 원하는 조건을 만족할 때까지 반복하는 while문

while 조건:  
&emsp; 실행할 문장

In [ ]:
repeat = True

while repeat:
  flag = input('마음에드는 옷을 찾았나요(예/아니오):')
  if flag == '예':
    print('good')
    repeat = False # while 문 탈출을 위한 flag 값 변경
  else:
    print('bad')
    print('pick other ones')

마음에드는 옷을 찾았나요(예/아니오):아니오
bad
pick other ones
마음에드는 옷을 찾았나요(예/아니오):예
good

##기본 for문

* 반복문의 개념과 필요성

In [ ]:
# 반복문을 사용하지 않는 경우

print('안녕하세요')
print('안녕하세요')
print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [ ]:
# 반복문을 사용하는 경우

for i in range(0,3,1):
    print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

기본형식  

for 변수 in range(시작값, 끝값 + 1, 증가값):   
&emsp; 이 부분을 반복

In [ ]:
for i in range(3):
  print('%d : 안녕하세요 for문을 공부중입니다.' %i)

0 : 안녕하세요 for문을 공부중입니다.
1 : 안녕하세요 for문을 공부중입니다.
2 : 안녕하세요 for문을 공부중입니다.

In [ ]:
for i in range(6):
  print("%d"%i, end= " ") #end를 이용해 1줄 출력

0 1 2 3 4 5

for 문을 활용한 합계 구하기

In [ ]:
#for문 없이 합계 구하기

hap = 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
print('1에서 10까지의 합계 : %d' %hap)

1에서 10까지의 합계 : 55

In [ ]:
#for문을 활용한 합계 구하기

res = 0
for i in range(1,11,1):
  res = res + i
print(res)

55

In [ ]:
res = 0
for i in range(101):
  res = res + i
print(res)

5050

In [ ]:
#500부터 1000사이에 있는 홀수의 합계
i, res = 0, 0
for i in range(501, 1001, 2):
  res = res + i
print('500과 1000사이에 있는 홀수의 합계:%d' %res)

500과 1000사이에 있는 홀수의 합계:187500

In [ ]:
i, res = 0, 0
for i in range(0, 101, 7):
  res = res + i
print(res)

735

In [ ]:
#사용자가 입력한 수까지 합계를 구하는 프로그램
i, res = 0, 0
num = int(input('값을 입력하시오:'))
for i in range(0,num+1,1):
  res = res + i

print('1에서 %d까지의 합계 : %d'%(num, res))

값을 입력하시오:10000000
1에서 10000000까지의 합계 : 50000005000000

In [ ]:
#시작값 끝값, 증가값까지 사용자 입력
i, res = 0, 0
num1, num2, num3 = 0,0,0

num1 = int(input('시작값을 입력하시오:'))
num2 = int(input('끝값을 입력하시오:'))
num3 = int(input('증가값을 입력하시오:'))

for i in range(num1, num2+1, num3):
  res = res + i

print('%d에서 %d까지 %d씩 증가시킨 값의 합계:%d' %(num1, num2, num3, res))

시작값을 입력하시오:10
끝값을 입력하시오:20
증가값을 입력하시오:1
10에서 20까지 1씩 증가시킨 값의 합계:165

In [ ]:
#구구단 출력
i, res = 0, 0
res = int(input('단을 입력하시오:'))
for i in range(1, 10, 1):
  print('%d * %d = %d'%(res, i, res*i))

단을 입력하시오:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

## 3. 중첩 for 문

In [ ]:
for i in range(0, 3, 1):
    for k in range(0, 3, 1):
        print(f'파이썬은 꿀잽입니다. (i값 : {i : d}, k값 : {k : d})')

파이썬은 꿀잽입니다. (i값 :  0, k값 :  0)
파이썬은 꿀잽입니다. (i값 :  0, k값 :  1)
파이썬은 꿀잽입니다. (i값 :  0, k값 :  2)
파이썬은 꿀잽입니다. (i값 :  1, k값 :  0)
파이썬은 꿀잽입니다. (i값 :  1, k값 :  1)
파이썬은 꿀잽입니다. (i값 :  1, k값 :  2)
파이썬은 꿀잽입니다. (i값 :  2, k값 :  0)
파이썬은 꿀잽입니다. (i값 :  2, k값 :  1)
파이썬은 꿀잽입니다. (i값 :  2, k값 :  2)

2단부터 9단까지 구구단 출력

In [ ]:
for i in range(2,10,1):
    print(f'{i} 단')
    for j in range(1,10,1):
        print(f'{i} * {j} = {i*j}')
    print('')

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 4. while문

for 문과 while 문 비교

* for 문은 반복할 횟수를 range()함수에서 결정 후 그 횟수 만큼 반복
* while문은 반복 횟수를 결정하기보다는 조건식이 참일 때까지 반복하는 방식

In [ ]:
i = 0
while i < 3:
  print('%d hello' %i)
  i = i + 1

0 hello
1 hello
2 hello

In [ ]:
#1부터 100까지 합
i, res = 0, 0

i = 1
while i <= 10:
  res = res + i
  i = i + 1
print(res)

55

In [ ]:
i, res = 0, 0
n1, n2, n3 = 0, 0, 0

n1 = int(input('시작값을 입력하시오:'))
n2 = int(input('끝값을 입력하시오:'))
n3 = int(input('증가값을 입력하시오:'))

i = n1

while i <= n2:
  res = res + i
  i = i + n3

print(res)

시작값을 입력하시오:1
끝값을 입력하시오:100
증가값을 입력하시오:1
5050

### 실습 II

In [ ]:
#1

f_res, w_res = 0, 0
for i in range(1,101,2):
  f_res = f_res + i

i=1
while i <= 100:
  w_res = w_res + i
  i = i + 2

print('for: %d \nwhile: %d' %(f_res, w_res))

for: 2500
while: 2500

In [ ]:
#2

res1, res2 = 0, 0

for i in range(0, 101, 2):
    res1 += i

i = 0
while i <= 100:
    res2 += i
    i += 2

print(f'for문 : {res1}\nwhile문 : {res2}')

for문 : 2550
while문 : 2550

In [ ]:
#3

start = int(input('시작 정수를 입력하세요 : '))
end = int(input('끝 정수를 입력하세요 : '))

hap = 0
for i in range(start, end + 1, 1):
    hap += i

print(f'{start}에서 {end} 까지의 정수의 합 : {hap}')

시작 정수를 입력하세요 : 1
끝 정수를 입력하세요 : 100
1에서 100 까지의 정수의 합 : 5050

### 실습 III

In [ ]:
pw = ''

while pw != 'pythonisfun':
    pw = input('암호를 입력하시오 : ')

print('로그인 성공')

암호를 입력하시오 : a
암호를 입력하시오 : a
암호를 입력하시오 : pythonisfun
로그인 성공

## 5. break문과 continue 문

반복문을 탈출 시키는 break문

In [ ]:
for i in range(1, 100):
    print('for 문을 %d번 실행했습니다' %i)
    break

for 문을 1번 실행했습니다

ex) 누적 합계가 1000 이상이 되는 시작 지점 알기

In [ ]:
hap, i = 0, 0

for i in range(1, 101):
    hap += i

    if hap >= 1000:
        break

print('%d일 때 1부터의 합이 1000을 넘는다'%i)

45 일 때 1부터의 합이 1000을 넘는다

### 실습 IV

* 1과 100사이에 있는 홀수의 합계 중에서 최초로 합계가 1000이 넘어가는 숫자를 구하는 프로그램 작성하기

In [ ]:
i, hap = 0, 0

for i in range(1,100, 2):
    hap += i

    if hap >= 1000:
        break

print('1~100의 홀수의 합에서 최초로 1000이 넘는 위치 : %d'%i)

1~100의 홀수의 합에서 최초로 1000이 넘는 위치 : 63

반복문으로 다시 돌아가게 하는 continue 문

In [ ]:
hap, i = 0, 0

for i in range(1, 101):
    if i % 3 == 0:
        continue

    hap += i

print('1 ~ 100의 합계(3의 배수 제외) : %d'%hap)

1 ~ 100의 합계(3의 배수 제외) : 3367

### 실습 VI

* 사용자가 입력한 숫자들을 더하는 프로그램, yes라고 답한 동안에만 숫자를 입력받는다

In [ ]:
hap, num = 0, 0

while True:
    num = int(input('숫자를 입력하세요 : '))
    hap += num
    cond = input('계속(yes/no) : ')
    if cond == 'no':
              print('합계는 : %d'%hap)
              break

숫자를 입력하세요 : 10
계속(yes/no) : yes
숫자를 입력하세요 : 20
계속(yes/no) : yes
숫자를 입력하세요 : 50
계속(yes/no) : no
합계는 : 80

## 과제2

In [ ]:
a = input('안나를 위한 가위, 바위, 보를 입력하세요: ')
s = input('신후를 위한 가위, 바위, 보를 입력하세요: ')

if a == '가위':
  if s == '보':
    print('안나 승리')
  elif s == '바위':
    print('신후 승리')
  elif s == '가위':
    print('무승부')
  else:
    print('신후 값 입력오류 ->', s)
elif a == '바위':
  if s == '보':
    print('신후 승리')
  elif s == '바위':
    print('무승부')
  elif s == '가위':
    print('안나 승리')
  else:
    print('신후 값 입력오류 ->', s)
elif a == '보':
  if s == '보':
    print('무승부')
  elif s == '바위':
    print('안나 승리')
  elif s == '가위':
    print('신후 승리')
  else:
    print('신후 값 입력오류 ->', s)
else:
  print('안나 값 입력 오류 ->', a)

안나를 위한 가위, 바위, 보를 입력하세요: 가위
신후를 위한 가위, 바위, 보를 입력하세요: 보
안나 승리

# 리스트

In [ ]:
list1 = ['I like', 'I love']
list2 = ['pancakes', 'kiwi juice', 'espresso']

for i in list1:
  for j in list2:
    print(i + ' ' + j)

I like pancakes
I like kiwi juice
I like espresso
I love pancakes
I love kiwi juice
I love espresso

In [ ]:
numbers = [4,5,6,7,8,9]

#1
for i in numbers:
  if i == 6:
    print(i)


#2
numbers[1:3]

#3
numbers[:3]

#4
numbers[1::2]

6

[5, 7, 9]

In [ ]:
s = 'python is strong'

#1
s[0]

#2
s[10:16]

#3
s[:6]

#4
s[7:9]

'is'

In [ ]:
population = ['seoul', 9765, 'Busan', 3441, 'Incheon', 2954]

#1
population[1]

#2
population[-1]

#3
population[0::2]

#4
sum(population[1::2])

16160

In [ ]:
f_list = ['banana', 'orange', 'kiwi', 'apple', 'melon']

for i in f_list:
  print(i, ': 문자열의 길이', len(i))

banana : 문자열의 길이 6
orange : 문자열의 길이 6
kiwi : 문자열의 길이 4
apple : 문자열의 길이 5
melon : 문자열의 길이 5

In [ ]:
student = ['a','b','c']

#1
student.append('d')
print(student)

#2
student.append('d')
print(student)

#3
c=0
for i in student:
  if i == 'd':
    c = c + 1
print(c)

#4

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'd']
2

In [ ]:
student = ['이황', '이이', '원효']
student.sort()
#1
print('현재학승은', student)

#2
ps = input('전학온 학생은 누구입니까? ')

#3
student.append(ps)
print(student)

#4
print('번호 재정렬...')
student.sort()
print(student)

#5
for i in range(len(student)):
  print(i+1, student[i])

현재학승은 ['원효', '이이', '이황']
전학온 학생은 누구입니까? 의상
['원효', '이이', '이황', '의상']
번호 재정렬...
['원효', '의상', '이이', '이황']
1 원효
2 의상
3 이이
4 이황

In [ ]:
partyA = set(['park', 'kim', 'lee'])
partyB = set(['park', 'choi'])

#1
print(set.union(partyA, partyB))

#2
print('파티 A 혹은 파티 B에 참석한 사람: ',set.symmetric_difference(partyA, partyB))

#3
print('파티 A에만 참석한사람: ',set.difference(partyA, partyB))

{'choi', 'park', 'lee', 'kim'}
{'lee', 'choi', 'kim'}

{'kim', 'lee'}

## 과제 3

In [ ]:
Seoul = 9765
Busan = 3441
Incheon = 2954

city_pop = [Seoul, Busan, Incheon]

print(city_pop)
Daejon = 1531

city_pop.insert(3, Daejon)

for i, city in enumerate(city_pop):
  max = city_pop[0]
  if max <= city:
    max = city
  else: continue

for i in city_pop:
  min = city_pop[0]
  if min >= i:
    min = i
  else: continue

print('최대인구: %d' %max)
print('최소인구: %d' %min)
print('평균인구: %.2f' %(sum(city_pop)/len(city_pop)))

[9765, 3441, 2954]
최대인구: 9765
최소인구: 1531
평균인구: 4422.75

# 튜플, 세트, 딕셔너리

## 튜플

튜플 타입은 변경할 수 없는 열거 데이터 집합  
한 번 값이 정해지면 항목값을 변경 불가

In [ ]:
# 색상을 저장하는 튜플

colors = ('red', 'green', 'blue')
colors

('red', 'green', 'blue')

In [ ]:
# 생성

text = '파이썬 문자열' #괄호로 감싸지 않으면 튜플 선언 가능
print(text[0])
print(text[-1])
text[-1] = '다'

파
열

TypeError: ignored

In [ ]:
card = 'red', 4, '다이아몬드', True
card
#card[-1] = False *Error

('red', 4, '다이아몬드', True)

In [ ]:
# 인덱싱, 슬라이싱

print(card[2])
print(card[:2])
print(card[2:])
print(card[:])

다이아몬드
('red', 4)
('다이아몬드', True)
('red', 4, '다이아몬드', True)

In [ ]:
one = ('하나')
print(type(one))
print(one)

one_item = '하나',
print(type(one_item))
print(one_item)

<class 'str'>
하나
<class 'tuple'>
('하나',)

튜플 패깅 : 문자열, 숫자 논리타입으로 이루어진 여러개의 데이터가 하나의 튜플로 포장된 것  

튜플 언패깅 : 튜플을 항목별로 각각 풀어서 변수에 저장하는것

In [ ]:
#튜플 생성(패깅)

card = 'red', 4, 'diamond', True

In [ ]:
a,b,c,d = card #튜플 항목 개별 할당
print(a,b,c,d)

red 4 다이아몬드 True

In [ ]:
# tuple <-> list

card_list = list(card)
print(type(card_list))
print(card_list)

card_tuple = tuple(card_list)
print(type(card_tuple))
print(card_tuple)

<class 'list'>
['red', 4, '다이아몬드', True]
<class 'tuple'>
('red', 4, '다이아몬드', True)

In [ ]:
# 하나의 항목인 튜플은 뒤에 쉼표를 붙여준다

print((10))
print((10,))

10
(10,)

In [ ]:
# 튜플의 삭제
t1 = (10,)
del(t1)

In [ ]:
# 튜플의 덧셈 및 곱셈 연산

t1 = (10,20,30,40)
t2 = ('a', 'b')
print(t1 + t2)
print(t2 * 3)

(10, 20, 30, 40, 'a', 'b')
('a', 'b', 'a', 'b', 'a', 'b')

In [ ]:
# 튜플에 요소를 추가할 때 -> 리스트 변환후 추가

tt = (10,20,30)
tt1 = list(tt)
tt1.append(40)
tt2 = tuple(tt1)
print(tt2)

(10, 20, 30, 40)

## 세트

집합의 개념  
데이터의 중복을 허용하지 않고 순서가 없는 데이터 집합을 위한 데이터 타입

In [ ]:
# spawn set type

saleslist = ['kimbab', 'kimch', 'apple', 'soda', 'coke', 'coke', 'kimch']
set(saleslist)

{'apple', 'coke', 'kimbab', 'kimch', 'soda'}

In [ ]:
languages = {'c#', 'python', 'r', 'r', 'r', 'python'}
languages

{'c#', 'python', 'r'}

In [ ]:
# 항목 존재 유무 확인
'c' in languages

False

In [ ]:
numbers = {2, 1, 3}
print(numbers) #자동 정렬됨

if 1 in numbers:
  print('1 is in set')

for x in numbers:
  print(x, end = " ") #세트 타입은 순서가없으므로 인덱스로 접근 불가, for문 이용 접근

{1, 2, 3}
1 is in set
1 2 3

In [ ]:
# 세트 연산

a = {1,2,3}
b = {3,4,5}

print(a|b)
print(a.union(b))

print(a & b)
print(a.intersection(b))

print(a-b)
print(a.difference(b))

print(a^b) #대칭 차집합 (a|b - a*b)
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [ ]:
# 실습 I

party_a = set(['park', 'kim', 'lee'])
party_b = set(['park', 'choi'])

print(party_a & party_b)

{'park'}

In [ ]:
# party_a + party_b set타입은 더하기 연산자 사용불가
party_a - party_b # 빼기 연산자는 사용 가능

{'kim', 'lee'}

In [ ]:
print(party_a | party_b)
print(party_a ^ party_b)
print(party_a - party_b)

{'park', 'choi', 'lee', 'kim'}
{'lee', 'kim', 'choi'}
{'lee', 'kim'}

## 딕셔너리

딕셔너리 타입은 전체 항목이 정렬되지 않은 키와 값의 쌍으로 구성된 데이터 모음

In [ ]:
#선언 및 사용

p_dict = {'python':5, 'c':2, 'c++':3, 'java':4}
p_dict

{'python': 5, 'c': 2, 'c++': 3, 'java': 4}

In [ ]:
# 특정 항목 값 변경

p_dict['python'] = 7
p_dict

{'python': 7, 'c': 2, 'c++': 3, 'java': 4}

In [ ]:
# 항목 추가

p_dict['ruby'] = 1
p_dict

{'python': 5, 'c': 2, 'c++': 3, 'java': 4, 'ruby': 1}

In [ ]:
# 항목 개수 확인

len(p_dict)

5

In [ ]:
# 키, 값 확인

print(p_dict.keys()) #전체 키 반환
print(list(p_dict.keys()))

print(p_dict.values())
print(list(p_dict.values()))

dict_keys(['python', 'c', 'c++', 'java', 'ruby'])
['python', 'c', 'c++', 'java', 'ruby']
dict_values([7, 2, 3, 4, 1])
[7, 2, 3, 4, 1]

In [ ]:
# 특정 키 확인

'c' in p_dict

True

In [ ]:
# 항목 삭제
del p_dict['ruby'] # 특정 항목 삭제

# del p_dict 변수 자체를 삭제
# p_dict.clear() 변수네 항목은 삭제, 딕셔너리 형태는 유지된다

In [ ]:
# 존재하지 않는 키 확인

print(p_dict.get('c#'))
# print(p_dict['c#']) 없는 키 확인시 오류 발생

None

In [ ]:
# item 메서드 : 딕셔너리 key, value값을 튜플로 반환해준다

print(p_dict.items())

for key, value in p_dict.items():
  print(key,':',value)

dict_items([('python', 5), ('c', 2), ('c++', 3), ('java', 4), ('ruby', 1)])
python : 5
c : 2
c++ : 3
java : 4
ruby : 1

In [ ]:
# 정렬

dict(sorted(p_dict.items()))

{'c': 2, 'c++': 3, 'java': 4, 'python': 5, 'ruby': 1}

In [ ]:
#실습 II

items = {'커피음료': 7, '펜':3, '종이컵': 2, '우유':1, '콜라':4, '책':5}

name = input('물건의 이름을 입력하시오: ')
print('재고 : ', items[name])

In [ ]:
#실습 III

eng_dict = {'one':'하나', 'two':'둘', 'three':'셋', 'four':'넷'}

word = input('단어를 입력하세요.')
if word in eng_dict:
  print(eng_dict[word])
else:
  print('없는 단어입니다.')

단어를 입력하세요.one
하나

In [ ]:
#실습 IV

p_number = dict()

while True:
  action = input('1) 전화번호 저장, 2) 전화번호 검색, 3) 끝: ')
  if action == '1':
    name = input('저장할 사용자의 이름을 입력하세요: ')
    number = input('전화번호를 입력하세요: ')
    p_number[name] = number
    print('저장되었습니다.')

  elif action == '2':
    name = input('검색할 사용자의 이름을 입력하세요: ')
    if name in p_number:
      print(p_number[name])
    else:
      print('존재하지 않는 사용자 입니다.')

  elif action == '3':
    break

  else:
    print('다시 입력하세요')

1) 전화번호 저장, 2) 전화번호 검색, 3) 끝: 1
저장할 사용자의 이름을 입력하세요: 김숭실
전화번호를 입력하세요: 010-1111-1111
저장되었습니다.
1) 전화번호 저장, 2) 전화번호 검색, 3) 끝: 홍길동
다시 입력하세요
1) 전화번호 저장, 2) 전화번호 검색, 3) 끝: 010-1112-1122
다시 입력하세요
1) 전화번호 저장, 2) 전화번호 검색, 3) 끝: 1
저장할 사용자의 이름을 입력하세요: 홍길동
전화번호를 입력하세요: 010-1112-1122
저장되었습니다.
1) 전화번호 저장, 2) 전화번호 검색, 3) 끝: 2
검색할 사용자의 이름을 입력하세요: 김숭실
존재하지 않는 사용자 입니다.
1) 전화번호 저장, 2) 전화번호 검색, 3) 끝: 3

In [ ]:
p_list = [('python', 7), ('java',2)]
print(p_list)
dict(p_list)

[('python', 7), ('java', 2)]

{'python': 7, 'java': 2}

## 리스트, 튜플, 딕셔너리 심화

In [ ]:
# 리스트 함축

n_list = []
for i in range(1,6):
  n_list.append(i)

n_list

[1, 2, 3, 4, 5]

In [ ]:
# 리스트컴프리헨션

n_list = [num for num in range(1,6)]
n_list

[1, 2, 3, 4, 5]

In [ ]:
# 리스트 컴프리헨션 + 조건

n_list = [num for num in range(1,21) if num % 3 == 0]
n_list

[3, 6, 9, 12, 15, 18]

In [ ]:
# 실습 V

evens = [n*2 for n in range(10)]
print(evens)

A = ['사과','귤','배']
B = ['블루베리', '자몽', '아보카도']
pairs = [(a,b) for a,b in zip(A,B) if a != b]
pairs1 = [(a,b) for a in A for b in B if a != b]
print(pairs)
print(pairs1)

t_dict = {a:a**3 for a in (2,3,4)}
print(t_dict)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[('사과', '블루베리'), ('귤', '자몽'), ('배', '아보카도')]
[('사과', '블루베리'), ('사과', '자몽'), ('사과', '아보카도'), ('귤', '블루베리'), ('귤', '자몽'), ('귤', '아보카도'), ('배', '블루베리'), ('배', '자몽'), ('배', '아보카도')]
{2: 8, 3: 27, 4: 64}

In [ ]:
# 동시에 여러 리스트에 접근

foods = ['apple', 'banna', 'caret', 'doritos']
beverage = ['coke', 'soda']

for i,j in zip(foods, beverage):
  print(i,j) #길이 맞춰서 출력됨

apple coke
banna soda

In [ ]:
f_list = list(zip(foods, beverage))
f_dict = dict(zip(foods, beverage))
print(f_list, f_dict)

[('apple', 'coke'), ('banna', 'soda')] {'apple': 'coke', 'banna': 'soda'}

##과제 4

In [ ]:
student_count = int(input('입력하는 학생수가 몇명인가요: '))
print('학생의 이름과 취미를 입력하세요!\n')

student = dict()
for i in range(student_count):
  print("{0} 번 학생".format(i+1))
  student_name = input('* 이름: ')
  student_hobby = input('* 취미: ')
  print('\n')
  student[student_name] = student_hobby

print('전체 학생 리스트 정보: ', list(student.keys()))
print('전체 취미 세트 정보: ', set(student.values()))

입력하는 학생수가 몇명인가요: 3
학생의 이름과 취미를 입력하세요!

1 번 학생
* 이름: 홍길동
* 취미: 스노우보드


2 번 학생
* 이름: 성춘향
* 취미: 목공예


3 번 학생
* 이름: 이몽룡
* 취미: 여행


전체 학생 리스트 정보:  ['홍길동', '성춘향', '이몽룡']
전체 취미 세트 정보:  {'스노우보드', '여행', '목공예'}

In [ ]:
a = dict()
a['홍길동'] = 1
print(a)

{'홍길동': 1}

In [ ]:
print(set(a.values()))
print(list(a.keys()))

{1}
['홍길동']

# 문자열 제어문과 데이터 구조

## 제어문과 데이터 구조

In [ ]:
# 색인과 함께 항목 보여주기 : enumerate()

k_food = ['kimchi', 'galbi', 'mandu']
print(k_food[0])

index = 0
for food in k_food:
  print(index, food)
  index += 1

kimchi
0 kimchi
1 galbi
2 mandu

In [ ]:
k_food_enum = enumerate(k_food)
print(type(k_food_enum))

for index_enum, food in k_food_enum:
  print(index_enum, food)

<class 'enumerate'>
0 kimchi
1 galbi
2 mandu

## 문자열의 개념

In [ ]:
aa = [0,1,2,3,4,5]
print(aa[0])
print(aa[1:3])
print(aa[3:])

0
[1, 2]
[3, 4, 5]

In [ ]:
ss = '파이썬최고'

print(ss[0])
print(ss[1:3])
print(ss[3:])

파
이썬
최고

In [ ]:
# +기호 사용, *기호 사용

ss = '파이썬' + '최고'
print(ss)

ss1 = '파이썬' * 3
print(ss1)

len(ss) #문자열 길이 출력

파이썬최고
파이썬파이썬파이썬

5

In [ ]:
#문자열의 모든 글자 뒤에 $를 붙여서 출력하는 코드

ss = '파이썬짱!'

sslen = len(ss)
for i in range(0, sslen):
  print(ss[i] + '$', end = "")

파$이$썬$짱$!$

In [ ]:
# 짝수 글자만 출력

ss1 = '파이썬은완전재미있어요'

for i in range(len(ss1)):
  if i % 2 == 0:
    print(ss1[i], end="")
  else:
    print("#", end= "")

파#썬#완#재#있#요

In [ ]:
# 입력된 문자 거꾸로 출력하기

ss = input('문자열을 입력하시오: ')
for i in range(len(ss)):
  print(ss[-(i+1)], end = "")

문자열을 입력하시오: abcde
edcba

## 문자열 메서드

In [ ]:
# 함수
# 함수는 단독으로 사용
# ex) 리스트나 문자열의 길이를 알아내는 len() 함수는 아래와 같이 사용

ss = 'abcd'
len(ss)

4

In [ ]:
word = input('단어를 입력하세요: ')
count = 0
for i in range(len(word)):
  if word[i] in 'aeiou':
    count += 1
  else:
    continue
print(count)

단어를 입력하세요apple
2

In [ ]:
# 메서드
# 메서드는 문자열 자료형에 그 기능이 들어 있으므로 변수명.메서드()의 형식으로 사용

ss = 'abcd'
ss.upper()

'ABCD'

In [ ]:
# 대, 소문자 변환 메서드

ss = 'python is Easy so Programming is fun'

print(ss.upper())
print(ss.lower())
print(ss.swapcase()) # 대문자는 소문자, 소문자는 대문자로 변형
print(ss.title()) # 각 단어의 앞글자만 대문자 변형

PYTHON IS EASY SO PROGRAMMING IS FUN
python is easy so programming is fun
PYTHON IS eASY SO pROGRAMMING IS FUN
Python Is Easy So Programming Is Fun

In [ ]:
ss = input('단어를 입력하세요: ')

count = 0
for i in range(len(ss)):
  if ss[i] in 'aeiou':
    count += 1
  else:
    continue
print(count)

단어를 입력하세요: apple
2

In [ ]:
# 문자열 검색

s = 'I like abc swimming'

print(s.count('like')) # 문자열 s에서 like라는 문자열이 발생한 횟수 리턴
print(s.find('like')) # 문자열 s에서 like의 인덱스 리턴, 문자열이 없으면 -1 리턴
s.rfind('like') # 위와 동일, 문자열 오른쪽 부터 검색
s.index('like') # 문자열 s에서 like의 인덱스 검색, 문자열이 없으면 예외 발생
s.rindex('like') # 위와 동일
s.startswith('alkie') # alike로 시작하는 문자열인가?, True, False 리턴
s.endswith('swimming') # swimming으로 끝나는 문자열인가, True, False 리턴
s.startswith('alike', 7)
s.endswith('swimming', 0, 26)

1
2

True

In [ ]:
#문자열을 괄호로 감싸주는 프로그램

ss = input('입력 문자열: ')
print('출력문자열 ==> ', end = "")

if ss.startswith('(') == False:
  print("(", end='')

print(ss, end='')

if ss.endswith(')') == False:
  print(')', end = '')

입력 문자열: python
출력문자열 ==> (python)

In [ ]:
# 문자열 편집, 치환

ss = '  파 이 썬  '
print(ss.strip()) #양쪽 공백 제거
print(ss.rstrip()) #오른쪽 공백 제거
print(ss.lstrip()) #왼쪽 공백 제거

파 이 썬
  파 이 썬
파 이 썬

In [ ]:
ss = '---파-이-썬---'

print(ss.strip('-'))

ss1 = '<<파 << 이 >> 썬 >>'
print(ss1.strip('><a')) #넣어주는 문자열에 포함되있는(<, >, a) 삭제

파-이-썬
파 << 이 >> 썬

In [ ]:
ss = '열심히 파이썬 공부 중~~'
ss.replace('파이썬', 'python')

'열심히 python 공부 중~~'

In [ ]:
# 문자열 중간의 공백까지 삭제해주는 코드

instr = ' 한글 python 프로그래밍  '
outstr = ''

for s in range(len(instr)):
  if instr[s] != ' ':
    outstr += instr[s]
  else:
    continue

print('원래문자열: ' + '[' + instr + ']' )
print('공백 삭제 문자열: ' + '[' + outstr + ']')

원래문자열: [ 한글 python 프로그래밍  ]
공백 삭제 문자열: [한글python프로그래밍]

In [ ]:
ss = '<<파<<이>>썬>>>'
out = ''


for s in range(len(ss)):
  if ss[s] not in '<>':
    out += ss[s]
  else:
    continue

print(out)

파이썬

In [ ]:
#문자열을 입력받아 특정 문자를 다른 문자로 변경

ss = input('입력 문자열: ')

print('출력 문자열: ', end = '')
for i in range(len(ss)):
  if ss[i] != 'o':
    print(ss[i], end = '')
  else:
    print('$', end = '')

입력 문자열: cook
출력 문자열: c$$kc$$k

In [ ]:
ss = 'cook'
ss.replace('o', '$')

'c$$k'

In [ ]:
# 문자열 분리, 결합

ss = 'python을 열심히 공부 중'
print(ss.split())

ss = '하나:둘:셋'
print(ss.split(':'))

ss = '하나\n둘\n셋'
print(ss.splitlines())

ss = '%'
print(ss.join('파이썬'))

['python을', '열심히', '공부', '중']
['하나', '둘', '셋']
['하나', '둘', '셋']
파%이%썬

In [ ]:
# 연/월/일 형식으로 문자열을 입력받아 10년 후 날짜를 출력하는 코드

ss = input('날짜(연/월/일) 입력: ')
ssList = ss.split('/')

print('입력한 날짜의 10년후 : {0}년 '.format(int(ssList[0]) + 10), end='')
print(ssList[1] + '월 ', end = '')
print(ssList[2] + '일', end = '')

날짜(연/월/일) 입력: 2019/12/31
입력한 날짜의 10년후 : 2029년 12월 31일

In [ ]:
# 실습 II
# 머리글자어 출력 프로그램

ss = input('문자열을 입력하세요 : ')
ss_list = ss.split()

for i in range(len(ss_list)):
  print(ss_list[i][0].upper(), end = "")

문자열을 입력하세요 : korea internet security agency
KISA

In [ ]:
# 실습 III
# 주민등록번호를 보고 여자인지 남자인지 판별

resi_num = input('주민등록번호를 입력하세요 : ')
res = resi_num.split('-')
if res[1][0] in '13':
  print('남자입니다')
elif res[1][0] in '24':
  print('여자입니다')

주민등록번호를 입력하세요 : 930522-1000000
남자입니다

In [ ]:
# 문자열 정렬, 채우기

ss = '파이썬'
print(ss.center(10)) # 가운데 정렬
print(ss.center(10, '-')) # -를 추가하여 가운데 정렬

print(ss.ljust(10)) #왼쪽 정렬
print(ss.rjust(10)) #오른쪽 정렬
print(ss.zfill(10)) #오른쪽 정렬후 빈 공간 채우기

   파이썬
---파이썬----
파이썬
       파이썬
0000000파이썬

In [ ]:
#문자열 구성 파악

print('1234'.isdigit()) #문자열이 숫자인지 아닌지 판별
print('abcd'.isalpha()) #문자열이 문자인지 아닌지 판별
print('abc123'.isalnum()) #문자열이 문자와 숫자가 섞여있는지 판별
print('abcd'.islower()) #문자열이 소문자로 구성되있는지 판별
print('ABCD'.isupper()) #대문자 확인
print(' '.isspace()) #공백확인

True
True
True
True
True
True

In [ ]:
ss = input('문자열 입력: ')

if ss.isdigit():
  print('숫자입니다')
elif ss.isalpha():
  print('문자입니다')
elif ss.isalnum():
  print('문자 + 숫자 입니다')
else:
  print('모르겠다')

문자열 입력: abcd123
문자 + 숫자 입니다

In [ ]:
# 실습 IV

ss = input('문자열을 입력하세요: ')

alpha = 0; digit = 0; space = 0

for i in range(len(ss)):

  if ss[i].isalpha():
    alpha += 1
  elif ss[i].isdigit():
    digit += 1
  elif ss[i].isspace():
    space += 1

print('digits : {0} apaces : {1} alphas : {2}'.format(digit, space, alpha))

문자열을 입력하세요: abcd 123 ok
digits : 3 apaces : 2 alphas : 6

## 문자열 함수

In [ ]:
# 함수명에 대임: map() 함수
# map(func_name, list_name)

before = ['2019', '12', '31']
after = list(map(int, before))
print(after)

print(map(int, before)) #리스트에 넣어주지 않으면 object로 반환된다

[2019, 12, 31]
<map object at 0x7f2ccbe3f4d0>

In [ ]:
def square(x):
  return x ** 2

a = [1,2,3,4,5,6,7]

square_a = list(map(square, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

# 함수

## 함수의 기본

함수 만들기

In [ ]:
def print_address():
  print('경상북도')
  print('울릉군 울릉읍')
  print('독도리 산 1-96번지')

print_address()

경상북도
울릉군 울릉읍
독도리 산 1-96번지

In [ ]:
# 도전문제 (i)

def print_school_address():
  print('서울시')
  print('동작구 상도로 369')
  print('02-820-0144')

print_school_address()

서울시
동작구 상도로 369
02-820-0144

In [ ]:
def hello():
  name = input('이름을 입력하세요: ')
  print('안녕!', name)

hello()

이름을 입력하세요: h
안녕! h

인수 추가하기

In [ ]:
def print_address(name):
  print('서울 특별시 종로구 1번지')
  print('파이썬 빌딩 7층')
  print(name)

print_address('홍길동')

서울 특별시 종로구 1번지
파이썬 빌딩 7층
홍길동

In [ ]:
# 도전문제 (ii)

def print_address2(name, address):
  print('이름: {}'.format(name))
  print('주소: {}'.format(address))

print_address2(name = '홍길순', address = '부산광역시 남구 광안로 10번길 1-1')

이름: 홍길순
주소: 부산광역시 남구 광안로 10번길 1-1

In [ ]:
def hello(name):
  print('안녕!', name)

my_name = input('이름을 입력하시오: ')
hello(my_name)

이름을 입력하시오안나
안녕! 안나

반환값 추가하기

In [ ]:
def change_name(name):
  return name + '님'

change_name('지희')

'지희님'

In [ ]:
coffee = 0

coffee = int(input('어떤 커피를 드릴까요?(1:보통, 2:설탕, 3:블랙): '))

print()
print('#1. 뜨거운 물을 준비한다.')
print('#2. 종이컵을 준비한다.')

if coffee == 1:
  print('#3. 보통 커피를 탄다')
elif coffee == 2:
  print('#3. 설탕커피를 탄다')
elif coffee == 3:
  print('#3. 블랙커피를 탄다')
else:
  print('#3. 아무거나 탄다.')

print('#4. 물을 붓는다')
print('#5. 스푼으로 젓는다')
print('커피 대령')

어떤 커피를 드릴까요?(1:보통, 2:설탕, 3:블랙): 1

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 보통 커피를 탄다
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

In [ ]:
def coffee_machine():
  cf_type = int(input('어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙: '))
  print('\n#1. 뜨거운 물을 준비한다.')
  print('#2. 종이컵을 준비한다.')

  if cf_type == 1:
    print('#3. 보통 커피를 탄다')
  elif cf_type == 2:
    print('#3. 설탕커피를 탄다')
  elif cf_type == 3:
    print('#3. 블랙커피를 탄다')
  else:
    print('#3. 아무거나 탄다.')

  print('#4. 물을 붓는다')
  print('#5. 스푼으로 젓는다')
  print('커피 대령')


coffee_machine()

어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙: 1

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 보통 커피를 탄다
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

In [ ]:
def rep_coffee_machine(count):
  for i in range(count):
    coffee_machine()
    print('\n{}번 손님 커피 여기있다'.format(i))

rep_coffee_machine(2)

어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙: 0

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 아무거나 탄다.
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

2번 손님 커피 여기있다
어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙: 1

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 보통 커피를 탄다
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

2번 손님 커피 여기있다

In [ ]:
def coffee_machine():
  cf_type = int(input('어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙, 4:에스프레소): '))
  print('\n#1. 뜨거운 물을 준비한다.')
  print('#2. 종이컵을 준비한다.')

  if cf_type == 1:
    print('#3. 보통 커피를 탄다')
  elif cf_type == 2:
    print('#3. 설탕커피를 탄다')
  elif cf_type == 3:
    print('#3. 블랙커피를 탄다')
  else:
    print('#3. 아무거나 탄다.')

  print('#4. 물을 붓는다')
  print('#5. 스푼으로 젓는다')
  print('커피 대령')


def rep_coffee_machine(name):
  for idx, name in enumerate(name):
    print('{}번손님 커피 준비'.format(idx))
    coffee_machine()
    print('\n{}손님 커피 여기있다\n'.format(name))

rep_coffee_machine(['로제', '리사', '지수', '제니'])

0번 손님 커피 준비
어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙, 4:에스프레소): 1

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 보통 커피를 탄다
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

로제 손님 커피 여기있다

1번 손님 커피 준비
어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙, 4:에스프레소): 2

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 설탕커피를 탄다
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

리사 손님 커피 여기있다

2번 손님 커피 준비
어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙, 4:에스프레소): 3

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 블랙커피를 탄다
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

지수 손님 커피 여기있다

3번 손님 커피 준비
어떤 커피를 드릴까요(1:보통, 2:설탕, 3:블랙, 4:에스프레소): 4

#1. 뜨거운 물을 준비한다.
#2. 종이컵을 준비한다.
#3. 아무거나 탄다.
#4. 물을 붓는다
#5. 스푼으로 젓는다
커피 대령

제니 손님 커피 여기있다

함수의 형식과 활용

In [ ]:
def plus(v1, v2):
  #res = 0
  res = v1 + v2
  return res

hap = plus(100, 200)
print('100과 200의 plus()함수 결과는 %d'%hap)

100과 200의 plus()함수 결과는 300

실습 (I)

In [ ]:
def happy_birthday(name):
  print('생일을 축하합니다')
  print('사랑하는 {}님의 생일을 축하합니다'.format(name))

happy_birthday('홍길동')

생일을 축하합니다
사랑하는 홍길동님의 생일을 축하합니다

계산기 함수 만들기

In [ ]:
def calc(v1, v2, op):
  res = 0
  if op == '+':
    res = v1 + v2
  elif op == '-':
    res = v1 - v2
  elif op == '*':
    res = v1 * v2
  else:
    res = v1 / v2
  return res

실습 (II)

In [ ]:
#구구단

def gugu():
  num = int(input('정수를 입력하세요: '))
  for i in range(1,10):
    print('{} * {} = {}'.format(num, i, num*i))

gugu()

정수를 입력하세요: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## 지역 변수와 전역 변수

In [ ]:
def func1():
  a = 10
  print('func1()에서 a값 {}'.format(a))

def func2():
  print('func2()에서 a값 {}'.format(a))

a = 20

func1()
func2()

func1()에서 a값 10
func2()에서 a값 20

글로벌 예약어

In [ ]:
def func1():
  global a #global 예약어로 a 변수를 전역 변수로 지정
  a = 10
  print('func1() 에서 a값 {}'.format(a))

def func2():
  print('func2() 에서 a값 {}'.format(a))

func1()
func2()

func1() 에서 a값 10
func2() 에서 a값 10

실습 (III)

In [ ]:
num = input('정수를 입력하세요: ')
res = list(map(int, list(num)))
print(sum(res))

정수를 입력하세요: 5555
20

## 함수의 반환값과 매개변수

실습 (IV)

In [ ]:
# 두정수를 매개변수로 받아 둘 중 더 큰 수를 출력하는 함수를 작성

first = int(input('첫 번째 정수를 입력하세요: '))
second = int(input('두 번째 정수를 입력하세요: '))

def compare_two_num(f, s):
  if f > s:
    print(f)
  elif f < s:
    print(s)
  else:
    print('두 숫자가 같다')

compare_two_num(first, second)

첫 번째 정수를 입력하세요253
두 번째 정수를 입력하세요245
253

In [ ]:
def get_square(a,b,c):
  print('{0} 제곱 : {1}'.format(a, a**2), end=', ')
  print('{0} 제곱 : {1}'.format(b, b**2), end=', ')
  print('{0} 제곱 : {1}'.format(c, c**2))

get_square(1,2,3)

1 제곱 : 1, 2 제곱 : 4, 3 제곱 : 9

pass 예약어

In [ ]:
def myFunc():
  pass

if True:
  myFunc() #pass 없으면 오류
else:
  print('거짓')

In [ ]:
# 매개변수의 개수를 지정하지 않고 전달하는 방법

def para_func(*para):
  res = 0
  for num in para:
    res += num

  return res

para_func(10, 20)

((10, 20), 30)

In [ ]:
# 함수를 호출할 때 딕셔너리 형식의 매개변수를 키 = 값 형식으로 사용

def dic_func(**para):
  for key, val in para.items():
    print("{0} --> {1}입니다.".format(key, val))

dic_func(트와이스 = 9, 소녀시대 = 7)

트와이스 --> 9입니다.
소녀시대 --> 7입니다.

In [ ]:
# 실습 (V)

key = input('키를 입력하세요: ')
value = input('값을 입력하세요: ')

inp = {key:value}

def dic_func(**para):
  print("{0} : {1}".format(para.keys(), para.values()))

dic_func(key = value)

키를 입력하세요: 학교
값을 입력하세요: 숭실대학교
dict_keys(['key']) : dict_values(['숭실대학교'])

## 과제 5

In [ ]:
three_num_str = input('세 수를 입력하시오: ')
three_num = three_num_str.split()
n1 = int(three_num[0]); n2 = int(three_num[1]); n3 = int(three_num[2])

세 수를 입력하시오: 34 66 20

In [ ]:
def max3(n1, n2, n3):
  if n1 > n2:
    if n1 > n3:
      return(n1)
    else:
      return(n3)
  elif n1 < n2:
    if n2 > n3:
      return(n2)
    else:
      return(n3)

In [ ]:
def min3(n1,n2,n3):
  if n1 < n2:
    if n1 < n3:
      return(n1)
    else:
      return(n3)
  elif n1 > n2:
    if n2 > n3:
      return(n3)
    else:
      return(n2)

In [ ]:
print('가장 큰 수 : {}'.format(max3(n1,n2,n3)))
print('가장 작은 수 : {}'.format(min3(n1,n2,n3)))

가장 큰 수 : 66
가장 작은 수 : 20

## 함수의 응용

In [ ]:
g = lambda x: x**2
print(g(8))

64

In [ ]:
f = lambda x,y : x+y
print(f(4,4))

8

In [ ]:
def hap(num1, num2):
  res = num1 + num2
  return res

print(hap(10, 20))

30

In [ ]:
hap2 = lambda x,y : x+y
print(hap2(10,20))

30

In [ ]:
hap3 = lambda num1 = 10, num2 = 10: num1 + num2
print(hap3())
print(hap3(100,200))

20
300

In [ ]:
# 리스트에 모두 10을 더하는 코드

myList = [1,2,3,4,5]

def add10(num):
  return num + 10

for idx, val in enumerate(myList):
  myList[idx] = add10(val)

myList

[11, 12, 13, 14, 15]

In [ ]:
myList = [1,2,3,4,5]
add1 = lambda num : num + 10
list(map(add1, myList))

[11, 12, 13, 14, 15]

In [ ]:
myList = [1,2,3,4,5]
list(map(lambda x: x+10, myList))

[11, 12, 13, 14, 15]

In [ ]:
list1 = [1,2,3,4]
list2 = [10,20,30,40]

list(map(lambda x,y : x+y, list1, list2))

[12, 24, 36, 48]

# 클래스

## 클래스의 개념

In [ ]:
text = 'abc'
print(type(text))
print(id(text)) #고유한 값

<class 'str'>
140029111691120

In [ ]:
text2 = 'abcd'
print(type(text2))
print(id(text2)) #text1의 id와 다르다

<class 'str'>
140028560412528

In [ ]:
# 자동차 클래스를 파이썬 코드로 구현

class Car:
  color = ""
  speed = 0

  def upSpeed(self, value):
    self.speed += value

  def downSpeed(self, value):
    self.speed -= value

In [ ]:
myCar1 = Car()

In [ ]:
myCar1.speed = 0

In [ ]:
myCar1.upSpeed(30)

In [ ]:
myCar1.speed

30

In [ ]:
class car:
  color = ""
  speed = 0

  def upspeed(self, value):
    self.speed += value

  def downspeed(self, value):
    self.speed -= value

In [ ]:
aa1 = car()
aa2 = car()

In [ ]:
aa1.speed = 0
aa1.color = 'red'

aa2.speed = 0
aa2.color = 'blue'

In [ ]:
aa1.upspeed(30)
aa2.upspeed(60)

In [ ]:
print('자동차 1의 색상은 {0}이며, 현재 속도는 {1}입니다.'.format(aa1.color, aa1.speed))
print('자동차 2의 색상은 {0}이며, 현재 속도는 {1}입니다.'.format(aa2.color, aa2.speed))

자동차 1의 색상은 red이며, 현재 속도는 30입니다.
자동차 2의 색상은 blue이며, 현재 속도는 60입니다.

In [ ]:
class car:
  color = ""
  speed = 0

  def upspeed(self, value):
    self.speed += value
    if self.speed >= 150:
      self.speed = 150

  def downspeed(self, value):
    self.speed -= value

In [ ]:
c1 = car()

In [ ]:
c1.speed = 0
c1.upspeed(180)
c1.speed

150

In [ ]:
class bookreader:
  name = ""
  def read_book(self):
    print(self.name + ' is reading Book!!')

In [ ]:
reader = bookreader()

In [ ]:
reader.name = 'chris'
reader.read_book()

chris is reading Book!!

## 생성자

In [ ]:
# __init__

class Car:
  color = ""
  speed = 0

  def __init__(self):
    self.color = 'red'
    self.speed = 0

  def upspeed(self, value):
    self.speed += value

  def downspeed(self, value):
    self.speed -= value
    if self.speed <= 0:
      self.speed = 0

In [ ]:
a1 = Car()
a2 = Car()

In [ ]:
print('a1 color : {0}, speed = {1}'.format(a1.color, a1.speed))

a1 color : red, speed = 0

In [ ]:
class block_factory:
  def __init__(self, company, color, shape):
    self.company = company
    self.color = color
    self.shape = shape

newblock = block_factory('Gole', 'blue', 'long')

In [ ]:
#실습 (I)

class calculator:
  def plus(self, x, y):
    return x + y

  def minus(self, x, y):
    return x - y

  def multiply(self, x, y):
    return x * y

  def divide(self, x, y):
    return x / y

calc = calculator()

In [ ]:
class cal:
  def plus(self):
    return self.x + self.y

In [ ]:
calc.plus(10, 20)

30

In [ ]:
## 객체지향 개념 적용

class Car:
  name = ''
  speed = 0

  def __init__(self, name, speed):
    self.name = name
    self.speed = speed

  def getName(self):
    return self.name

  def getSpeed(self):
    return self.speed

In [ ]:
c1 = Car('아우디', 0)
c2 = Car('벤츠', 30)

print('{0}의 현재 속도는 {1}입니다'.format(c1.getName(), c1.getSpeed()))

아우디의 현재 속도는 0입니다

## 클래스 변수와 인스턴스 변수  
클래스 변수: class.name  
인스턴스 변수: self.name

In [ ]:
class Car:
  color = ""
  speed = 0
  count = 0

  def __init__(self):
    self.speed = 0
    Car.count += 1

In [ ]:
c1 = Car()
c1.speed = 30

print('속도: {}, 생산량: {}'.format(c1.speed, c1.count))

속도: 30, 생산량: 1

In [ ]:
c2 = Car()
c2.speed = 60

print('speed:{}, product:{}'.format(c1.speed, c1.count))

speed:30, product:2

## 클래스의 상속

In [ ]:
##부모 클래스

class Car:
  speed = 0
  def upSpeed(self, value):
    self.speed += value
    print('현재 속도(부모 클래스): %d'%self.speed)

In [ ]:
## 자식 클래스

class Sedan(Car):
  def upSpeed(self, value): #메서드 오버라이딩(메서드 재정의)
    self.speed += value
    if self.speed > 150:
      self.speed = 150

    print('현재 속도(자식클래스): %d'%self.speed)

class Truck(Car):
  pass

class Sonata(Sedan):
  pass

In [ ]:
t = Truck()
s = Sedan()
so = Sonata()

In [ ]:
t.upSpeed(200)
s.upSpeed(200)
so.upSpeed(200)

현재 속도(부모 클래스): 400
현재 속도(자식클래스): 150
현재 속도(자식클래스): 150

## 객체지향 프로그래밍의 심화

In [ ]:
class Line:
  length = 0
  def __init__(self, length):
    self.length = length
    print(self.length, 'spawn line')

  def __del__(self):
    print(self.length, 'del line')

  def __repr__(self):
    return '선의 길이' + str(self.length)

  def __add__(self, other):
    return self.length + other.length

  def __lt__(self, other):
    return self.length < other.length

  def __eq__(self, other):
    return self.length == other.length

In [ ]:
l1 = Line(300)
l2 = Line(200)

300 spawn line
200 spawn line
300 del line
200 del line

##과제 6

In [ ]:
class score_process:

  def __init__(self):
    self.name = input('이름 입력: ')
    self.mid_score = int(input('중간고사 성적 입력: '))
    self.fin_score = int(input('기말고사 성적 입력: '))
    self.hw_score = int(input('과제 성적 입력: '))

  def sum_score(self):
    return (self.mid_score + self.fin_score + self.hw_score)

  def mean_score(self):
    return ((self.mid_score + self.fin_score + self.hw_score)/3)

In [ ]:
score = score_process()
print('학생 이름:', score.name)
print('합계', score.sum_score())
print('평균', score.mean_score())

이름 입력: 홍길동
중간고사 성적 입력: 60
기말고사 성적 입력: 70
과제 성적 입력: 80
학생 이름: 홍길동
합계 210
평균 70.0

# 파일 입출력

## 파일 입출력의 기본

In [ ]:
import os

os.getcwd()
os.chdir('/content/drive/MyDrive/Colab Notebooks/Notes/파이썬 기초 /data')

In [ ]:
f = open('data1.txt', 'w')

In [ ]:
f.write('study python\nit is fun \ngood python')
f.close()

35

In [ ]:
# 한줄씩 읽기

f1 = open('data1.txt', 'r')

instr = f1.readline()
print(instr, end="")

f1.close()

study python

In [ ]:
# 여러줄 한번에 읽기

f1 = open('data1.txt', 'r')

i = 1
while True:
  instr = f1.readline()
  if instr == "":
    break
  print(i,':',instr, end = "")
  i+=1

f1.close()

1 : study python
2 : it is fun
3 : good python

In [ ]:
# readlines()함수 : 파일의 내용을 통째로 읽어서 리스트에 저장

f = open('data1.txt', 'r')
inlist = f.readlines()
print(inlist)

for idx, s in enumerate(inlist):
  print(idx,':',s, end = "")

f.close()

['study python\n', 'it is fun \n', 'good python']
0 : study python
1 : it is fun
2 : good python

## 텍스트 파일 입출력

In [ ]:
# 파일을 열 때 오류 처리 : os.path.exists()

import os

f = None
fname, inlist, instr = '',[],''

fname = input('파일명을 입력하세요: ')

if os.path.exists(fname):
  f = open(fname, 'r')

  inlist = f.readlines()
  for i in inlist:
    print(i, end = '')

  f.close()
else:
  print('{}파일이 없습니다.'.format(fname))

파일명을 입력하세요: data1.txt
study python
it is fun
good python

In [ ]:
f = open('data2.txt', 'w')

while True:
  s = input('내용 입력: ')

  if s is not "":
    f.writelines(s + '\n') # 리스트에 담긴 문자열을 한번에 쓰기 가능
    #f.write: 한줄씩 쓰기
  else: break

f.close()
print('complete')

내용 입력: python
내용 입력: study
내용 입력: hard
내용 입력:
complete

In [ ]:
# 실습 I

f = open('Text.txt', 'w')

for i in range(1,11):
  f.write(str(i) + '\n')

f.close()


f1 = open('Text1.txt', 'w')

for i in range(101):
  if i % 2 == 0:
    f1.write(str(i) + '\n')
  else:
    continue

f1.close()

In [ ]:
f = open('Text1.txt', 'r')

while True:
  s = f.readline()
  if s is not "":
    print(s, end = "")
  else:
    break

f.close()

In [ ]:
#파일 내용 암호화 및 복호화하기

print(ord('w')) #문자의 아스키 코드 값 리턴

print(chr(ord('w'))) #아스키 코드를 입력받아 해당하는 문자를 출력

119
w

In [ ]:
print(ord('파'))
print(chr(ord('파')+100)) # 100을 더해서 암호화

num = ord('파') + 100
print(chr(num-100)) # 100을 빼서 복호화

54028
퍰
파

In [ ]:
f = open('normal.txt', 'w')

while True:
  s = input('내용을 입력하시오: ')

  if s is not "":
    f.writelines(s + '\n')

  else:
    break
f.close()

내용을 입력하시오: 안녕하세요?
내용을 입력하시오: 저는 파이썬을
내용을 입력하시오: 공부하고있습니다.
내용을 입력하시오:

In [ ]:
f = open('normal.txt', 'r')
print(f.readlines())
f.close()

['안녕하세요?\n', '저는 파이썬을\n', '공부하고있습니다.\n']

In [ ]:
i = 0
secu = 0

secuYN = input('1.암호화 2.암호해석중 선택: ')
in_fname = input('입력 파일명을 입력하세요: ')
out_fname = input('출력 파일명을 입력하세요: ')

if secuYN == '1':
  secu = 100
elif secuYN == '2':
  secu = -100

inF = open(in_fname, 'r', encoding = 'utf-8')
outF = open(out_fname, 'w', encoding = 'utf-8')

while True:
  instr = inF.readline()
  if not instr:
    break

  outstr = ""
  for i in range(0, len(instr)):
    ch = instr[i]
    chnum = ord(ch)
    chnum = ord(ch) + secu
    ch2 = chr(chnum)
    outstr = outstr + ch2

  outF.write(outstr + '\n')

outF.close()
inF.close()

print('{} --> {} 변환완료'.format(in_fname, out_fname))

1.암호화 2.암호해석중 선택: 1
입력 파일명을 입력하세요: normal.txt
출력 파일명을 입력하세요: security.txt

## 파일 입출력 심화

In [ ]:
import shutil
dir(shutil)

['Error',
 'ExecError',
 'ReadError',
 'RegistryError',
 'SameFileError',
 'SpecialFileError',
 '_ARCHIVE_FORMATS',
 '_BZ2_SUPPORTED',
 '_LZMA_SUPPORTED',
 '_UNPACK_FORMATS',
 '_ZLIB_SUPPORTED',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_basename',
 '_check_unpack_options',
 '_copyxattr',
 '_destinsrc',
 '_ensure_directory',
 '_find_unpack_format',
 '_get_gid',
 '_get_uid',
 '_make_tarball',
 '_make_zipfile',
 '_ntuple_diskusage',
 '_rmtree_safe_fd',
 '_rmtree_unsafe',
 '_samefile',
 '_unpack_tarfile',
 '_unpack_zipfile',
 '_use_fd_functions',
 'chown',
 'collections',
 'copy',
 'copy2',
 'copyfile',
 'copyfileobj',
 'copymode',
 'copystat',
 'copytree',
 'disk_usage',
 'errno',
 'fnmatch',
 'get_archive_formats',
 'get_terminal_size',
 'get_unpack_formats',
 'getgrnam',
 'getpwnam',
 'ignore_patterns',
 'make_archive',
 'move',
 'os',
 'register_archive_format',
 'register_unpack_format',
 'rmtree',
 'stat',
 'sys',
 'unpack_archive',
 'unregister_archive_format',
 'unregister_unpack_format',
 'which']

In [ ]:
import os
dir(os)

['CLD_CONTINUED',
 'CLD_DUMPED',
 'CLD_EXITED',
 'CLD_TRAPPED',
 'DirEntry',
 'EX_CANTCREAT',
 'EX_CONFIG',
 'EX_DATAERR',
 'EX_IOERR',
 'EX_NOHOST',
 'EX_NOINPUT',
 'EX_NOPERM',
 'EX_NOUSER',
 'EX_OK',
 'EX_OSERR',
 'EX_OSFILE',
 'EX_PROTOCOL',
 'EX_SOFTWARE',
 'EX_TEMPFAIL',
 'EX_UNAVAILABLE',
 'EX_USAGE',
 'F_LOCK',
 'F_OK',
 'F_TEST',
 'F_TLOCK',
 'F_ULOCK',
 'GRND_NONBLOCK',
 'GRND_RANDOM',
 'MutableMapping',
 'NGROUPS_MAX',
 'O_ACCMODE',
 'O_APPEND',
 'O_ASYNC',
 'O_CLOEXEC',
 'O_CREAT',
 'O_DIRECT',
 'O_DIRECTORY',
 'O_DSYNC',
 'O_EXCL',
 'O_LARGEFILE',
 'O_NDELAY',
 'O_NOATIME',
 'O_NOCTTY',
 'O_NOFOLLOW',
 'O_NONBLOCK',
 'O_PATH',
 'O_RDONLY',
 'O_RDWR',
 'O_RSYNC',
 'O_SYNC',
 'O_TMPFILE',
 'O_TRUNC',
 'O_WRONLY',
 'POSIX_FADV_DONTNEED',
 'POSIX_FADV_NOREUSE',
 'POSIX_FADV_NORMAL',
 'POSIX_FADV_RANDOM',
 'POSIX_FADV_SEQUENTIAL',
 'POSIX_FADV_WILLNEED',
 'PRIO_PGRP',
 'PRIO_PROCESS',
 'PRIO_USER',
 'P_ALL',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_PGID',
 'P_PID',
 'P_WAIT',
 'PathLike',
 'RTLD_DEEPBIND',
 'RTLD_GLOBAL',
 'RTLD_LAZY',
 'RTLD_LOCAL',
 'RTLD_NODELETE',
 'RTLD_NOLOAD',
 'RTLD_NOW',
 'RWF_DSYNC',
 'RWF_HIPRI',
 'RWF_NOWAIT',
 'RWF_SYNC',
 'R_OK',
 'SCHED_BATCH',
 'SCHED_FIFO',
 'SCHED_IDLE',
 'SCHED_OTHER',
 'SCHED_RESET_ON_FORK',
 'SCHED_RR',
 'SEEK_CUR',
 'SEEK_DATA',
 'SEEK_END',
 'SEEK_HOLE',
 'SEEK_SET',
 'ST_APPEND',
 'ST_MANDLOCK',
 'ST_NOATIME',
 'ST_NODEV',
 'ST_NODIRATIME',
 'ST_NOEXEC',
 'ST_NOSUID',
 'ST_RDONLY',
 'ST_RELATIME',
 'ST_SYNCHRONOUS',
 'ST_WRITE',
 'TMP_MAX',
 'WCONTINUED',
 'WCOREDUMP',
 'WEXITED',
 'WEXITSTATUS',
 'WIFCONTINUED',
 'WIFEXITED',
 'WIFSIGNALED',
 'WIFSTOPPED',
 'WNOHANG',
 'WNOWAIT',
 'WSTOPPED',
 'WSTOPSIG',
 'WTERMSIG',
 'WUNTRACED',
 'W_OK',
 'XATTR_CREATE',
 'XATTR_REPLACE',
 'XATTR_SIZE_MAX',
 'X_OK',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_fwalk',
 '_get_exports_list',
 '_putenv',
 '_spawnvef',
 '_unsetenv',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'altsep',
 'chdir',
 'chmod',
 'chown',
 'chroot',
 'close',
 'closerange',
 'confstr',
 'confstr_names',
 'cpu_count',
 'ctermid',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'environb',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fchdir',
 'fchmod',
 'fchown',
 'fdatasync',
 'fdopen',
 'fork',
 'forkpty',
 'fpathconf',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fstatvfs',
 'fsync',
 'ftruncate',
 'fwalk',
 'get_blocking',
 'get_exec_path',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getegid',
 'getenv',
 'getenvb',
 'geteuid',
 'getgid',
 'getgrouplist',
 'getgroups',
 'getloadavg',
 'getlogin',
 'getpgid',
 'getpgrp',
 'getpid',
 'getppid',
 'getpriority',
 'getrandom',
 'getresgid',
 'getresuid',
 'getsid',
 'getuid',
 'getxattr',
 'initgroups',
 'isatty',
 'kill',
 'killpg',
 'lchown',
 'linesep',
 'link',
 'listdir',
 'listxattr',
 'lockf',
 'lseek',
 'lstat',
 'major',
 'makedev',
 'makedirs',
 'minor',
 'mkdir',
 'mkfifo',
 'mknod',
 'name',
 'nice',
 'open',
 'openpty',
 'pardir',
 'path',
 'pathconf',
 'pathconf_names',
 'pathsep',
 'pipe',
 'pipe2',
 'popen',
 'posix_fadvise',
 'posix_fallocate',
 'pread',
 'preadv',
 'putenv',
 'pwrite',
 'pwritev',
 'read',
 'readlink',
 'readv',
 'register_at_fork',
 'remove',
 'removedirs',
 'removexattr',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sched_get_priority_max',
 'sched_get_priority_min',
 'sched_getaffinity',
 'sched_getparam',
 'sched_getscheduler',
 'sched_param',
 'sched_rr_get_interval',
 'sched_setaffinity',
 'sched_setparam',
 'sched_setscheduler',
 'sched_yield',
 'sendfile',
 'sep',
 'set_blocking',
 'set_inheritable',
 'setegid',
 'seteuid',
 'setgid',
 'setgroups',
 'setpgid',
 'setpgrp',
 'setpriority',
 'setregid',
 'setresgid',
 'setresuid',
 'setreuid',
 'setsid',
 'setuid',
 'setxattr',
 'spawnl',
 'spawnle',
 'spawnlp',
 'spawnlpe',
 'spawnv',
 'spawnve',
 'spawnvp',
 'spawnvpe',
 'st',
 'stat',
 'stat_result',
 'statvfs',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sync',
 'sys',
 'sysconf',
 'sysconf_names',
 'system',
 'tcgetpgrp',
 'tcsetpgrp',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'ttyname',
 'umask',
 'uname',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'wait',
 'wait3',
 'wait4',
 'waitid',
 'waitid_result',
 'waitpid',
 'walk',
 'write',
 'writev']

In [ ]:
import os.path
dir(os.path)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_get_sep',
 '_joinrealpath',
 '_varprog',
 '_varprogb',
 'abspath',
 'altsep',
 'basename',
 'commonpath',
 'commonprefix',
 'curdir',
 'defpath',
 'devnull',
 'dirname',
 'exists',
 'expanduser',
 'expandvars',
 'extsep',
 'genericpath',
 'getatime',
 'getctime',
 'getmtime',
 'getsize',
 'isabs',
 'isdir',
 'isfile',
 'islink',
 'ismount',
 'join',
 'lexists',
 'normcase',
 'normpath',
 'os',
 'pardir',
 'pathsep',
 'realpath',
 'relpath',
 'samefile',
 'sameopenfile',
 'samestat',
 'sep',
 'split',
 'splitdrive',
 'splitext',
 'stat',
 'supports_unicode_filenames',
 'sys']

In [ ]:
# directory 생석 및 삭제

import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/Notes/파이썬 기초 /data')
print(os.getcwd())

os.mkdir('./myDir') #폴더생성
print(os.path.exists('./myDir'))

shutil.rmtree('./myDir') #폴더 삭제(파일 삭제 아님)
print(os.path.exists('./myDir'))

/content/drive/MyDrive/Colab Notebooks/Notes/파이썬 기초 /data
True
False

In [ ]:
os.listdir()

['data1.txt',
 'data2.txt',
 'Text1.txt',
 'Text.txt',
 'score.csv',
 'score.txt',
 'score.xlsx']

In [ ]:
#파일 또는 폴더가 존재하는지 확인

import os.path

print(os.path.exists('./data1.txt'))
print(os.path.isfile('./data1.txt'))
print(os.path.isdir('.'))

True
True
True

In [ ]:
# 파일 삭제

os.remove('./~')

In [ ]:
# 파일 크기 확인(바이트 단위로 출력)

os.path.getsize('./data1.txt')

TypeError: ignored

In [ ]:
## 예외 처리

try:
  os.remove('./~')
except:
  print('파일이 없습니다.')

파일이 없습니다.

In [ ]:
# 문자열 중에서 파이썬 글자의 위치를 모두 찾아서 출력하는 코드

mystr = '파이썬은 재미 있어요. 파이썬만 매일매일 공부하고 싶어요'
strlist = list()
index = 0

while True:
  index = mystr.index('파이썬', index) #파이썬 글자가 위치한 0, 13을 찾은 후에 오류 발생
  strlist.append(index)
  index = index + 1

ValueError: ignored

In [ ]:
mystr = '파이썬은 재미 있어요. 파이썬만 매일매일 공부하고 싶어요'
strlist = list()
index = 0

while True:
  try:
    index = mystr.index('파이썬', index) #파이썬 글자가 위치한 0, 13을 찾은 후에 오류 발생
    strlist.append(index)
    index = index + 1
  except:
    break
print('파이썬 글자 위치', strlist)

파이썬 글자 위치 [0, 13]

In [ ]:
# 여러가지 오류의 종류

n1 = input('숫자1 -->')
n2 = input('숫자2 -->')

try:
  n1 = int(n1)
  n2 = int(n2)
  while True:
    res = n1/n2

except ValueError:
  print('문자열은 숫자로 변환할수 없습니다')

except ZeroDivisionError:
  print('0으로 나눌수 없습니다')

except KeyboardInterrupt:
  print('ctrl + c 를 눌렀다.')

숫자1 -->10
숫자2 -->0
0으로 나눌수 없습니다

In [ ]:
n1 = input('숫자1: ')
n2 = input('숫자2: ')

try:
  n1 = int(n1)
  n2 = int(n2)

except:
  print('오류')

else:
  print(n1,'/',n2,'=',n1/n2)

finally:
  print('이 부분은 무조건 나온다')

숫자1: 100
숫자2: 0
이 부분은 무조건 나온다

ZeroDivisionError: ignored

In [ ]:
# 실습 II

birth = {'홍길동':'2000년 3월 1일', '김춘추':'604년','김유신':'595년'}

while True:
  name = input('생일을 알고 싶은 사람을 입력하세요: ')
  try:
    print(birth[name])
  except:
    print('데이터베이스에 존재하지 않는 이름입니다.')
    break

생일을 알고 싶은 사람을 입력하세요: 홍길동
2000년 3월 1일
생일을 알고 싶은 사람을 입력하세요: 김유신
595년
생일을 알고 싶은 사람을 입력하세요: 김춘추
604년
생일을 알고 싶은 사람을 입력하세요: 황희
데이터베이스에 존재하지 않는 이름입니다.

In [ ]:
# 실습 III

hp = int(input('현제 채력은 얼마입니까?: '))
damage = ''

while True:
  try:
    damage = int(input('데미지를 몇 입었습니까: '))
    hp -= int(damage)
    print('체력이 {} 남았습니다'.format(hp))
  except:
    break

현제 채력은 얼마입니까?: 280
데미지를 몇 입었습니까: 10
체력이 270 남았습니다
데미지를 몇 입었습니까: 50
체력이 220 남았습니다
데미지를 몇 입었습니까: 100
체력이 120 남았습니다
데미지를 몇 입었습니까: save

In [ ]:
class car:
  speed = ""
  color = ""
  def __init__(self):
    self.speed = 100
    self.color = 'red'

In [ ]:
car1 = car()

In [ ]:
car1.speed = 120

In [ ]:
car1.speed

120

In [ ]:
car1.color

'red'